body {
    font-family: "Lora", "Playfair Display", "Times New Roman", serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-rows: minmax(65px, auto) minmax(100px, auto) 65px [footer-end];
    grid-template-columns: 2vw repeat(4, 1fr) 2vw;
    grid-row-gap: 20px;
    grid-template-areas: ". header header header header  ." ". mainer mainer mainer mainer ." ". footer footer footer footer .";

}


.header {
    top: 0px;
    grid-area: header;

    background-color: #fffdf9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceefb;
    box-shadow: 5px 10px 18px #f0eef9;
    position: sticky;
    position: -webkit-sticky;
    z-index: 100;
}

.header #logo {
    height: auto;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header #logo a {
    width: fit-content;
    height: auto;
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 1;

}

.header #logo img {
    height: 60px;
    padding-right: 10px;
    width: 60px;

}

.header #logo #logoText {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 1;
}

.header #logo #logoText .logoLine a {
    font-family: "Alegreya SC";
    font-size: max(1em, 12px);
    color: #cc009f;
}

.header #logo #logoText #logol1 a {
}

.header #logo #logoText #logol2 a {
}

.header #HeaderTitle {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    vertical-align: center;

    font-family: "Lora";
    color: #005999;
    font-size: max(0.8vw, 12px);
    font-max-size: 2em;
    font-min-size: medium;

    line-height: 1;
}

.header #navbar {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
    vertical-align: center;
    display: flex;
    justify-content: flex-end;
}

.header #navbar .navbar_button {
    padding: 10px;
}

.header #navbar .navbar_button a {
    font-family: "Alegreya SC";
    font-size: max(1em, 12px);
    color: #cc009f;
}

.header #navbar .navbar-active {
    box-shadow: 0px 8px 6px -4px #c39fff;
}

.main {
    grid-area: mainer;
    margin-top: 25px;

}

.main .description {
    font-family: "Playfair Display";
    padding-bottom: 15px;
    /*border-bottom: 1px solid rgb(200, 0, 160);*/
    box-shadow: 0px 2px 6px -4px #c39fff;

}



.main .main-io {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.main .main-io .column {
    flex-basis: 30em;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 15px 1vw;
    height: max-content;
}

.main .main-io #io-inputs img {
    max-width: 300px;
    max-height: 300px;
    width: 80%;
    height: 80%;
    display: block;
    margin: 20px auto;
}

.main .main-io #io-inputs .form-input-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.main .main-io #io-inputs .form-input-container .input-window {
    width: 30%;
    margin-left: 20px;
}

.main .main-io #io-outputs #status {
    text-align: center;
}

.main .main-io #io-outputs .chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.main .main-io #io-outputs .chart-container .output-chart {
    flex-basis: 18em;
    flex-grow: 1;
    flex-shrink: 0;
}
.main-inactive {
    display: none;
}


.main .description-title{
    font-family: "Lora";
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
}
.main .description-text ul{
    list-style: square;
}

#about .description-text {
    margin-bottom: 25px;
}

.footer {
    grid-area: footer;
    border-top: 1px solid #eceefb;
    box-shadow: 5px -10px 18px #f0eef9;
    /*border-top: 1px solid rgba(0, 71, 204, 0.72);*/
    /*box-shadow:         0px 8px 5px -6px rgba(0, 71, 204, 0.72);*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer #copyright {
    font-family: "Alegreya SC";
    color: #005999;
}



a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link, .nav a, .nav a:visited {
    color: #07C;
}

a:hover, a:active, .nav a:visited:active, .nav a:visited:hover {
    color: #3af;
}

a:visited {
    color: #005999;
}






